.products-list {
  @media (min-width: 576px) {
    --cellBasis: 50%;
    --cellMaxWidth: 50%;
  }

  @media (min-width: 768px) {
    --cellBasis: 33.333%;
    --cellMaxWidth: 33.333%;
  }

  @media (min-width: 1280px) {
    --cellBasis: 25%;
    --cellMaxWidth: 25%;
  }
}