:root {
  --distance-xs: 1rem;
  --distance-s: 1.5rem;
  --distance-md: 2rem;
  --distance-lg: 3rem;
  --distance-xl: 5rem;

  --fontFamily: sans-serif;
  --lineHeight: 1.4;

  --inputHeight: 3rem;

  --c-light: #fff;
  --c-dark: #333;
  --c-theme: #c27ba0;
  --c-neutral: #efefef;
  --c-neutral-1: #000;
  --c-neutral-2: #888;
  --c-bg: var(--c-neutral);
  --c-text: var(--c-dark);
  --c-error: #bb0000;
}