:root {
  --distance-xs: 1rem;
  --distance-s: 1.5rem;
  --distance-md: 2rem;
  --distance-lg: 3rem;
  --distance-xl: 5rem;

  --c-light: #fff;
  --c-dark: #222;
  --c-bg: var(--c-light);
  --c-text: var(--c-dark);
  --c-accent: #c27ba0;
}